
body{
     background: rgb(238,174,202);
     background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}



*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navegación{

    width: 100%;
    margin: 0px auto;
    text-align: center;

    background: #fff;
}

.navegación ul{ 
 

 list-style: none;


 }
.inicio >li{
    position: relative;
    display: inline-block; 
}

.inicio> li> a{ display: block;
padding: 15px 20px ;
color: black;
font-family: 'Bitter', serif;
text-decoration: none;

 
  }


 


 .titulo{ 

color: black;
font-size: 40px;
font-family: 'Bitter', serif;
text-align: center;

text-align: center;



 }

 #tit{
    font-size: 40px;

    font-family: 'Borel', cursive;
     position: relative;
top: -17px;

    
 }


div{

    width: 100%;

    height: 80px;

    background: pink; 
   
}
.imagen1{

    width: 300px;
    height: 300px;
}
.introduccion{
background-color: antiquewhite;
    color: black;
font-size: 19px;
font-family: 'Bitter', serif;
text-align: center;

text-align: center;
display: flex;

}





