




.letra{

    font-family: 'Bitter', serif;
font-family: 'Croissant One', cursive;
font-family: 'Roboto Slab', serif;
}
.inicio{

    text-align: center;

    padding: 30px}

.introduccion{ 
	word-break: break-word;
	line-break: normal;
	hyphens: auto;

  font-size: 30px;
    color: grey;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

	overflow-wrap: break-word;
   font-family: 'Bitter', serif;
font-family: 'Roboto Slab', serif;}

 .imagen1{
 	width: 300px;
 	height: 300px;
  text-align: center;
top: 20px;}

.card{
        width: 150px;
        height: 200px;
  
        position: relative;
        left: -20px;
      }
      
      .card-inner {
        width: 100px;
        height: 100px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.999s;
      }
      
      .card:hover .card-inner {
        transform: rotateY(180deg);
      }
      
      .card-front,
      .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      .card-front {
        background-color: #dcbcdf;
        color: #fff;
        display: flex;
        align-items: center;
        border: 10px solid #f5e2f7;
        border-radius: 10px;
        justify-content: center;
        font-size: 24px;
        transform: rotateY(0deg);
      }
      
      .card-back {
        background-color: #0c2fce94;
        color: #fff;
        display: flex;
        align-items: center;
        border: 10px solid #0c2fce94;
        border-radius: 10px;
        justify-content: center;
        font-size: 24px;
        transform: rotateY(180deg);
      }

      
      #lenteja{

  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
}
#receta1{
  position: absolute;
  top: 20px;
}

#vag{
width: 100%;
left: 200px;
position: relative;

}

.conte{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
font-family: 'Poppins', sans-serif;


}
input{
   padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
font-family: 'Poppins', sans-serif;
background-color: orange;

 
}



.lin{

    width: 50px;
height: 50px;
}
nav{
    flex-wrap: wrap;
    background: rgb(212, 168, 210) ;
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    font-family: 'Bebas Neue', sans-serif;
   
}
.enlace{
    position: absolute;
    padding: 20px 22px;
}
.logo{
    margin: -23px;
    height: 83px;

}


#magdalena {

    width: 800px;
  height: 1000px;
  margin: auto;
  position: relative;
}
.checkbtn{
    font-size: 30px;
    color: grey;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: black;
}


.vertical li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}

.banner-central{
    width: 100%;
    max-width: 2000px;
    height: 700px;
    background: rgb(255, 255, 255);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    text-align: center;
margin-top: -10px;

                       
}
 

footer{
background-color: #26272b;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
   
bottom:0px;
right:0px;
    width: 100%;
 }


.banner{
    width: 100%;
    max-width: 2000px;
    height: 200px;
    background: red;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    text-align: center;
margin-top: -10px;
top: 0px;


                       
}



.container2{
    width: 90%;
    padding: 20px;
    margin: 100px auto;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}





.container{
    width: 90%;
    padding: 20px;
    margin: 100px auto;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}





/* ------------------- RESPONSIVE ------------------------ */
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    footer{

         margin-bottom:0px
    }

    iframe{
        margin-bottom:0px;
        width: 400px;
        height: 300px;

    }
}

@media (max-width: 500px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 10px;
    }
    footer{

         margin-bottom:0px
    }

    iframe{
        margin-bottom:0px;
        width: 400px;
        height: 300px;

    }


.hijo{
    margin-bottom: 10px;
}
    h2{
font-size:13px;
    }
   
}






@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(100, 128, 0); /* --COLOR DEL MENU-------- */
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    iframe{
        margin-bottom:0px;
        width: 300px;
        height: 300px;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
   
    .logo{
        margin: -23px;
        height: 83px;
        width: 140px;
   
    }

   
}


/* ------------------- RESPONSIVE ------------------------ */